<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Панель Администратора</title>
    <link rel="stylesheet" href="/css/admin_dashboard.css">
</head>
<body>
<div class="container">
    <h1>Добро пожаловать, Администратор!</h1>
    <nav>
        <a href="/admin/creategame">Создать новую Игру</a>
        <a href="/admin/createmember">Создать нового Участника</a>
    </nav>

    <div class="logout-form">
        <form action="/logout" method="post">
            <button type="submit">Выйти из системы</button>
        </form>
    </div>
</div>
</body>
</html>