<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Игр</title>
</head>
<body>

<h1>Регистрация Новой Игры</h1>

<form th:action="@{/games/add}" th:object="${newGame}" method="post">

    <label for="nameInput">Название игры:</label>
    <input type="text" id="nameInput" th:field="*{name}" required>

    <button type="submit">Добавить игру</button>
</form>

<hr>

<h2>Список зарегистрированных игр</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.id}">1</td>
        <td th:text="${game.name}">Название игры</td>
    </tr>
    </tbody>
</table>

</body>
</html>