<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Участники Команды</title>
</head>
<body>

<h1>Регистрация Участника</h1>

<form th:action="@{/members/add}" th:object="${newMember}" method="post">
    <label for="nameInput">Имя участника:</label>
    <input type="text" id="nameInput" th:field="*{name}" required>
    <button type="submit">Добавить в команду</button>
</form>

<hr>

<h2>Текущий состав команды</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}">1</td>
        <td th:text="${member.name}">Имя участника</td>
    </tr>
    </tbody>
</table>

</body>
</html>